body{
    background-color: rgb(13, 13, 63);
    }
    
    
     h1{
    color:red ;
    font-family: ;
    background: ;
    }
    
  
    p{
    color:rgb(3, 10, 10) ;
    font-family: ;
    font-size: 150%;
    background: ;
    }

    #aa {
        width: 100%;
    }
    