body{
    background-color: rgb(17, 17, 100);
    }
    
    
     h1{
    color:red ;
    font-family: ;
    background: ;
    }
    
  
    p{
    color:rgb(40, 221, 221) ;
    font-family: ;
    font-size: 25%;
    background: ;
    }
