body{
    background-color: rgb(28, 28, 133);
    }
    
    
     h1{
    color:red ;
    font-family: ;
    background: ;
    }
    
  
    p{
    color:rgb(243, 107, 17) ;
    font-family: ;
    font-size: 150%;
    background: ;
    }

    #aa {
        width: 100%;
    }
    